#gallaryPhotos {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

a > img {
  /* overflow: hidden; */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px){
  #gallaryPhotos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 900px){
  #gallaryPhotos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .meetGrant img {
    width: 50%;
  }

  .meetGrant div {
    width: 40%;
    margin-right: 5%;
  }

  .meetGrant {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
