main {
  display: flex;
  flex-direction: column;
}

#linkBoard {
  display: flex;
  flex-direction: column;
}

section > a {
  margin: 10px;
}

@media screen and (min-width: 600px){
  #linkBoard {
    flex-direction: row;
  }
  #linkBoard > a {
    margin-right: 30px;
  }
}