section {
  margin-top: 22px;
}
.personalInfo {
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.personalName {
  font-family: "Encode Sans", sans-serif;
  line-height: 1.41em;
  font-size: 40px;
}
.cardTitle {
  font-family: "Encode Sans", sans-serif;
  line-height: 1.41em;
  font-size: 23px;
}
.cardTime {
  display: none;
}
.cardContent {
  line-height: 1.875em;
  font-size: 15px;
}
.cardGroup {
font-family: "Encode Sans", sans-serif;
font-size: 16px;
margin: 5px;
}
.cardContent > ul {
padding-left: 20px;
}