body {
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #00274C;
  background: #efeef0;
}

main {
  margin: 0 5%;
}

/* skip content */
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

.skip a:focus{
  top: 60px;
}

:focus{
  border: 2px solid;
}

/* navbar high light */
.navbar-nav .active {
  font-weight: bold;
  text-decoration: underline;
}

@media (prefers-reduced-motion) {
  .skip a{
    transition: none;
  }
}