body {
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #00274C;
  background: #efeef0;
}

main {
  margin: 0 5%;
}

